@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<style>
    a:hover {
        color: unset;
    }

    .scrollbar {
        overflow: hidden; /* Ẩn thanh cuộn khi không hover */
        border: 1px solid #ccc;
        transition: overflow 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
    }

        .scrollbar:hover {
            overflow-y: auto; /* Hiện thanh cuộn khi hover */
        }
</style>
<div class="page">
    <main>
        <div style="background-color:#fff;z-index:100; position :fixed;border-bottom:grey 0.5px solid;width:100%" class="d-flex justify-content-between align-items-center row">
            <div class="col-3">
                <NavLink href="/">
                    <MudImage Src="logo.png" Height="64"></MudImage>
                </NavLink>
            </div>
            <div class="d-flex col-6">
                <MudTextField @bind-Value="Search" Placeholder="Tìm kiếm" Variant="Variant.Text" />
                <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Info" aria-label="github"></MudIconButton>
            </div>
            <div class="col-3">
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex justify-content-end">
                            <div class="nav-item ">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="Account/Login" />
                                    <button type="submit" class="nav-link d-flex justify-content-start ">
                                        <MudIcon Style="margin: 3px;" Icon="@Icons.Material.Filled.Logout" Color="Color.Tertiary" Size="Size.Small" />
                                        Đăng xuất
                                    </button>
                                </form>
                            </div>
                        </div>
                    </Authorized>

                    <NotAuthorized>
                        <div class="d-flex justify-content-end">
                            <div class="nav-item ">
                                <NavLink class="nav-link" href="Account/Register">
                                    <center>
                                        <button class="codepro-custom-btn codepro-btn-11" target="blank" title="Code Pro">
                                            Đăng ký
                                        </button>
                                    </center>
                                </NavLink>
                            </div>
                            <div class="nav-item">
                                <NavLink class="nav-link" href="Account/Login">
                                    <center>
                                        <button class="codepro-custom-btn codepro-btn-12" target="blank" title="Code Pro">
                                            <span>Go!</span>
                                            <span>Đăng nhập</span>
                                        </button>
                                    </center>

                                </NavLink>
                            </div>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="d-flex " style="margin-top:64px">
            <div class="pe-3  scrollbar" style="height : 91vh;width : 290px; position: sticky;top: 64px;overflow-x : hidden;">
                <div class="me-3 " style="width:auto;">
                    <NavMenu />
                </div>
            </div>

            <article class="content w-100 px-4 scrollbar">
                @Body
            </article>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    string Search;
    protected int NoticeCount;
}
