@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<style>
    a:hover {
        color: unset;
    }
</style>
<div class="page">
    <main>
        <div style="background-color:#fff;z-index:100; position :fixed;border-bottom:grey 0.5px solid;width:100%" class="d-flex justify-content-between align-items-center row">
            <div class="col-3">
                <NavLink href="/">
                    <MudImage Src="logo.png" Height="64"></MudImage>
                </NavLink>
            </div>
            <div class="d-flex col-6">
                <MudTextField @bind-Value="Search" Placeholder="Tìm kiếm" Variant="Variant.Text" />
                <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Info" aria-label="github"></MudIconButton>
            </div>
            <div class="col-3">
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex justify-content-end">
                            <div class="nav-item ">
                                <NavLink class="nav-link" href="Account/Logout">
                                    <MudButton Variant="Variant.Outlined"
                                               Color="Color.Info"
                                               Style="text-transform:none">
                                        Đăng xuất
                                    </MudButton>
                                </NavLink>
                            </div>
                        </div>
                    </Authorized>

                    <NotAuthorized>
                        <div class="d-flex justify-content-end">
                            <div class="nav-item ">
                                <NavLink class="nav-link" href="Account/Register">
                                    <MudButton Variant="Variant.Outlined"
                                               Color="Color.Info"
                                               Style="text-transform:none">
                                        Đăng ký
                                    </MudButton>
                                </NavLink>
                            </div>
                            <div class="nav-item">
                                <NavLink class="nav-link" href="Account/Login">
                                    <MudButton Variant="Variant.Outlined"
                                               Color="Color.Success"
                                               Style="text-transform:none">
                                        Đăng nhập
                                    </MudButton>
                                </NavLink>
                            </div>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <div class="d-flex " style="margin-top:64px">
            <div class="" style="height : 100% ; position: sticky;top: 64px;">
                <NavMenu />
            </div>

            <article class="content w-100 px-4">
                @Body
            </article>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    string Search;
}
