@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Từ chối truy cập</h1>
    <p class="text-danger">Tài khoản của bạn không được phép truy cập tài nguyên này.</p>
</header>
