@page "/Account/ForgotPasswordConfirmation"

@using System.Web
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage


@inject ProtectedSessionStorage ProtectedSessionStore
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>

<EditForm Model="codeInput" FormName="forgot-password" OnValidSubmit="VerifyCodeAsync" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />

    <div class="container">
        <h1>Verify Code</h1>
        <div class="form-group">
            @* <label for="code">Enter Code:</label> *@
            @* <input type="text" class="form-control" id="code" @bind="codeInput.code" placeholder="Enter your code" /> *@
            <InputText @bind-Value="codeInput.code" class="form-control"  aria-required="true" placeholder="Enter your code" />
            <label for="code" class="form-label">Enter Code:</label>
            <ValidationMessage For="() => codeInput.code" class="text-danger" />
        </div>
        <button class="btn btn-primary" type="submit">Verify</button>
    </div>
</EditForm> 

@code {
    private InputCode codeInput { get; set; } = new();
    private string Code;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine(Code);
        var code =  await ProtectedSessionStore.GetAsync<string>("ResetPasswordCode");
        Code = code.Value;
    }
    private async Task VerifyCodeAsync()
    {
            Console.WriteLine(Code);
        if (Code == codeInput.code)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("b");

            NavigationManager.NavigateTo("Account/Login");
        }
    }

    private sealed class InputCode
    {
        public string code { get; set; } = "";
    }
}