.page-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.form-floating {
    margin-bottom: 1em;
}

.form-control {
    padding: 1em;
    font-size: 1em;
}

.btn-primary {
    background-color: green ;
    font-size: 1em;
    padding: 0.75em;
}

.alert {
    margin-top: 1em;
}
