@page "/weather"


<div style="text-align: left;"><span style="background-color: var(--rz-editor-content-background-color); color: var(--mud-palette-text-primary); font-size: var(--mud-typography-default-size); font-weight: var(--mud-typography-default-weight); letter-spacing: var(--mud-typography-default-letterspacing); text-align: var(--bs-body-text-align); text-transform: var(--mud-typography-default-text-transform); font-style: italic; text-decoration-line: underline;">&nbsp;34r3v</span></div>
<div style="text-align: left;"><span style="font-style: italic; text-decoration-line: underline;">e</span></div>
<div style="text-align: left;"><span style="font-style: italic; text-decoration-line: underline;">Boy đẹp trai&nbsp;</span></div><div style="text-align: left;"><span style="font-style: italic; text-decoration-line: underline;"><br></span></div>
<div style="text-align: center;"><img src="UploadImage\upload-2024-11-04-e20bd0f0-b7fc-4cee-b33f-9a3e2b24aea4.jpg" height="120" class="">'<span style="font-style: italic; text-decoration-line: underline;"></span></div>
<div style="text-align: left;">Tiến sĩ</div>

<script src="./Js/video.js"></script>