@page "/ForgotPasswordConfirmation"

@using System.Web
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage


@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>

<div class="container">
	<h1>Verify Code</h1>
	@if (!string.IsNullOrEmpty(erorrMessage))
	{
		<p class="alert alert-danger">@erorrMessage</p>
	}
	
	<div class="form-group">
		<label for="code">Enter Code:</label>
		<input type="text" class="form-control" id="code" @bind="codeInput" placeholder="Enter your code" />
	</div>
	<button class="btn btn-primary" @onclick="VerifyCodeAsync">Verify</button>
</div>

@code {
	private string codeInput;
	private string erorrMessage;
	private async Task VerifyCodeAsync()
	{
		var code = await sessionStorage.GetItemAsync<string>("ResetPasswordCode");
		if (string.IsNullOrEmpty(codeInput?.Trim()))
		{
			erorrMessage = "Vui lòng nhập mã code";
		}
		else if (code != codeInput.Trim())
		{
			erorrMessage = "Mã code không đúng";
		}
		else
		{
			NavigationManager.NavigateTo("ResetPassword");
		}
		StateHasChanged();
	}
}
